div .show {
  background-color: #fefae0;;
  align-items: center;
  margin:5px;
  text-align: center;
  display: block;
  float: left;
  padding: 0px;
  width: 10%;
  height:350px;
}
img {
  width: 100%;
}


